 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
            color: #333;
        }

        h1 {
            text-align: center;
            color: #2c3e50;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.6;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 10px 0;
            font-size: 1.1rem;
        }

        a {
            color: #546121;
            font-size: 20px;
        }

        a:hover {
            color: #DB9819;
            font-size: 50px
        }

        a:active{
            color: #676767;
            font-size: 15px;
        }

        a:visited{
            color: #414141;
            font-size: 20px;
        }
