th {
    background-color: #0f5427;
    color: white;
}

td {
    padding: 12px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    table-layout: fixed;
}

th:nth-child(1),
td:nth-child(1) {
    width: 25%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 40%;
}

tbody tr:hover {
    background-color: #f0f0f0;
}