th {
    background-color: darkgreen;
}

td {
    padding: 10px;
    border: 5px solid #65BE54;
    border-collapse: collapse;
    color: #6B00B5;
}

td:hover{
    background-color: pink;
}

th :nth-child(1){
    width: 25%;
}

th :nth-child(4){
    width: 40%;
}